﻿@using EPiServer.ServiceLocation
@using Fotoware.EPiServer.ImageProperty
@model FotowareImage

@if (Model != null)
{
    if (string.IsNullOrWhiteSpace(Model.StorageId))
    {
        <img src="@Url.ContentUrl(Model.Url)" alt="@Model.Metas.Caption" width="@Model.Width" title="@Model.Metas.Tooltip" height="@Model.Height" />
    }
    else
    {
        var imageStorage = ServiceLocator.Current.GetInstance<IImageStorage>();
        <img src="@Url.ContentUrl(imageStorage.GetUrl(Model.StorageId))" alt="@Model.Metas.Caption" title="@Model.Metas.Tooltip" width="@Model.Width" height="@Model.Height" />
    }
}
